@import url(reset.css);
/* Page Setup + Mixins */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.inner {
  max-width: 1200px;
  width: 100%;
  margin: 50px auto; }

img {
  max-width: 100%;
  height: auto;
  width: auto\9;
  /* ie8 */ }

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

/* General Styles */
body {
  background: #34495e;
  color: white;
  font-family: 'PT Sans', sans-serif;
  text-align: center; }

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  line-height: 1.5em;
  font-size: 3em; }

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2em; }
header a.demo-link {
	text-decoration: none;
	color: white;
	display: inline-block;
	margin: 10px;
}
header a.demo-link:hover, header a.current {
	text-decoration: underline;
}
header nav {
  margin: 40px 0; }

header nav ul li {
  display: inline-block; }
  header nav ul li a {
    padding: 10px;
    background: #2c3e50;
    color: white;
    text-decoration: none; }
    header nav ul li a.active, header nav ul li a:hover {
      background: #587ca0; }

#main-content {
  background: white;
  padding: 50px;
  color: #34495e;
  max-width: 800px;
  width: 80%;
  margin: 0 auto; }
  #main-content h2 {
    margin-bottom: 1em; }
@media screen and (min-width:0px) and (max-width:650px) {
#main-content {
	width: 95%;
	padding: 50px 10px;
}
h1 {
	font-size: 2em;
}
}   

p {
  line-height: 1.5em; }

#page2, #page3, #page4 {
  display: none; }
