<section id="home" class="main-section-wrapper" data-page="home">
    <header class="section-header hidden" >
        <div class="this-title">
            <h3>As tuas ligas</h3>
            <h6>Lista das tuas ligas ativas</h6>
        </div>
        <div class="help-module">
            <div class=" checkbox-flat align-v">
                <p>
                    <input type="checkbox" id="test1" />
                        <label for="test1">
                            <span class="ui"></span>
                            <span class="this-label">Ajuda?</span>
                         </label>
                </p>
            </div>

        </div>
    </header>

    <div class="section-content">

        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <a class="league-card" id="#page2" data-trigger="ajax-call">
                        <div class="league-summary">
                            <div class="league-bg">
                                <img src="img/soccer-field.png" alt=""/>
                            </div>
                            <div class="this-summary">
                                <span class="league-type">Liga Privada</span>
                                <span class="league-name">Premium League</span>

                                <div class="league-lastGame">
                                    <span class="this-label">Última Jornada</span>

                                    <div class="teams home-team win">
                                        <span>
                                            Nome equipa
                                            <em class="this-score">
                                                30
                                            </em>
                                        </span>
                                    </div>

                                    <div class="teams visiting-team">
                                         <span>
                                            Nome equipa
                                            <em class="this-score">
                                                30
                                            </em>
                                        </span>

                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="team-summary">
                            <div class="your-team">
                                <span class="team-name">Nome da equipa bastante grande para ver o fade</span>
                                <span class="team-pos">7º</span>
                                <span class="team-points">100 pontos</span>
                            </div>
                            <ul class="league-status">
                                <li class="wins" data-label="Vitórias">
                                    <span class="circle-val">
                                        3
                                    </span>
                                </li>
                                <li class="draws" data-label="Empates">
                                    <span class="circle-val">
                                        3
                                    </span>
                                </li>
                                <li  class="defeat" data-label="Derrotas">
                                    <span class="circle-val">
                                        3
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <a class="league-card" id="#page2" data-trigger="ajax-call">
                        <div class="league-summary">
                            <div class="league-bg">
                                <img src="img/soccer-field.png" alt=""/>
                            </div>
                            <div class="this-summary">
                                <span class="league-type">Liga Privada</span>
                                <span class="league-name">Premium League</span>

                                <div class="league-lastGame">
                                    <span class="this-label">Última Jornada</span>

                                    <div class="teams home-team win">
                                        <span>
                                            Nome equipa
                                            <em class="this-score">
                                                30
                                            </em>
                                        </span>
                                    </div>

                                    <div class="teams visiting-team">
                                         <span>
                                            Nome equipa
                                            <em class="this-score">
                                                30
                                            </em>
                                        </span>

                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="team-summary">
                            <div class="your-team">
                                <span class="team-name">Nome da equipa bastante grande para ver o fade</span>
                                <span class="team-pos">7º</span>
                                <span class="team-points">100 pontos</span>
                            </div>
                            <ul class="league-status">
                                <li class="wins" data-label="Vitórias">
                                    <span class="circle-val">
                                        3
                                    </span>
                                </li>
                                <li class="draws" data-label="Empates">
                                    <span class="circle-val">
                                        3
                                    </span>
                                </li>
                                <li  class="defeat" data-label="Derrotas">
                                    <span class="circle-val">
                                        3
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <a class="league-card" id="#page2" data-trigger="ajax-call">
                        <div class="league-summary">
                            <div class="league-bg">
                                <img src="img/soccer-field.png" alt=""/>
                            </div>
                            <div class="this-summary">
                                <span class="league-type">Liga Privada</span>
                                <span class="league-name">Premium League</span>

                                <div class="league-lastGame">
                                    <span class="this-label">Última Jornada</span>

                                    <div class="teams home-team win">
                                        <span>
                                            Nome equipa
                                            <em class="this-score">
                                                30
                                            </em>
                                        </span>
                                    </div>

                                    <div class="teams visiting-team">
                                         <span>
                                            Nome equipa
                                            <em class="this-score">
                                                30
                                            </em>
                                        </span>

                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="team-summary">
                            <div class="your-team">
                                <span class="team-name">Nome da equipa bastante grande para ver o fade</span>
                                <span class="team-pos">7º</span>
                                <span class="team-points">100 pontos</span>
                            </div>
                            <ul class="league-status">
                                <li class="wins" data-label="Vitórias">
                                    <span class="circle-val">
                                        3
                                    </span>
                                </li>
                                <li class="draws" data-label="Empates">
                                    <span class="circle-val">
                                        3
                                    </span>
                                </li>
                                <li  class="defeat" data-label="Derrotas">
                                    <span class="circle-val">
                                        3
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                    <a class="league-card" id="#page2" data-trigger="ajax-call">
                        <div class="league-summary">
                            <div class="league-bg">
                                <img src="img/soccer-field.png" alt=""/>
                            </div>
                            <div class="this-summary">
                                <span class="league-type">Liga Privada</span>
                                <span class="league-name">Premium League</span>

                                <div class="league-lastGame">
                                    <span class="this-label">Última Jornada</span>

                                    <div class="teams home-team win">
                                        <span>
                                            Nome equipa
                                            <em class="this-score">
                                                30
                                            </em>
                                        </span>
                                    </div>

                                    <div class="teams visiting-team">
                                         <span>
                                            Nome equipa
                                            <em class="this-score">
                                                30
                                            </em>
                                        </span>

                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="team-summary">
                            <div class="your-team">
                                <span class="team-name">Nome da equipa bastante grande para ver o fade</span>
                                <span class="team-pos">7º</span>
                                <span class="team-points">100 pontos</span>
                            </div>
                            <ul class="league-status">
                                <li class="wins" data-label="Vitórias">
                                    <span class="circle-val">
                                        3
                                    </span>
                                </li>
                                <li class="draws" data-label="Empates">
                                    <span class="circle-val">
                                        3
                                    </span>
                                </li>
                                <li  class="defeat" data-label="Derrotas">
                                    <span class="circle-val">
                                        3
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>


            </div>
        </div>

    </div>

</section>

    <div class="ads floater bottom center logo-cl">
        <div class="logo"></div>
    </div>
    <button class="floating-btn add-new">

    </button>
<script>
    $('[data-trigger="ajax-call"]').on('click', function(thisEv){
        thisEv.preventDefault();
        var thisPage = $(this).attr('id');
        $('#main-content').load('views/' + thisPage + '.htm');
    });
</script>