<section id="page2" class="main-section-wrapper" data-page="team">
    <header class="section-header">
        <div class="this-title">
            <h3>Equipa</h3>
            <h6>11 Inicial</h6>
        </div>
        <div class="help-module">
            <div class=" checkbox-flat align-v">
                <p>
                    <input type="checkbox" id="test1" />
                    <label for="test1">
                        <span class="ui"></span>
                        <span class="this-label">Ajuda?</span>
                    </label>
                </p>
            </div>

        </div>

        <button class="context-menu-trigger" data-trigger="side-context-menu" >
            <span class="ico">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="pointer-events: none; display: block;"><g id="unfold-more"><path d="M12,5.8L15.2,9l1.4-1.4L12,3L7.4,7.6L8.8,9L12,5.8z M12,18.2L8.8,15l-1.4,1.4L12,21l4.6-4.6L15.2,15L12,18.2z"></path></g></svg>
            </span>

            <span class="title">
                11 Inicial
            </span>
        </button>
    </header>
    <!-- Side Menu -->
    <aside class="side-context-menu" data-widget="side-context-menu">
        <ul class="opt-list">
            <li class="opt-item is-active">
                <a href="" class="opt" data-trigger="ajax-call" id="page3">11 Inicial</a>
            </li>

            <li class="opt-item">
                <a href="" class="opt">Waivers</a>
            </li>

            <li class="opt-item">
                <a href="" class="opt">Histórico de Transferências</a>
            </li>

            <li class="opt-item">
                <a href="" class="opt">Definições</a>
            </li>
        </ul>
    </aside>
    <!-- Main Content -->
    <div class="section-content padding-all-content">
        <div class="container">

            <div class="col-lg-9 col-md-8 col-sm-12 col-sm-12">
                <div class="col-lg-4 col-md-6 col-sm-12 col-sm-12">
                    <div class="info-card player-card">

                        <div class="front-side">
                            <div class="player-summary">
                                <span class="player-name">Carlos Sousa</span>
                                <span class="player-position">Atacante</span>
                                <span class="player-team">Belenenses</span>

                            </div>

                            <ul class="player-stats">
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                                <li>5</li>
                                <li>6</li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>

                    </div>
                </div>


            </div>

            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <div class="info-card my-team">
                    <div class="top-area">
                        <span class="team-tactics">4-4-3</span>
                        <div class="team-img">
                            <img src="http://www.tofugu.com/wp-content/uploads/2013/12/captaintsubasa-1280.jpg" alt=""/>
                        </div>
                    </div>

                    <div class="bottom-area">
                        <span class="team-name">Tsubasa Team Superstar</span>
                        <span class="team-owner">Captain Tsubasa</span>

                        <span class="game-week"> <strong>Jornada 18</strong>09/05 a 11/05</span>
                    </div>
                </div>
                <div class="info-card last-substitutions">
                    <div class="header-title">
                        Últimas 10 Substituições
                    </div>
                    <ul class="list-content">
                        <li>
                            <div class="time-stamp">
                                <span class="game-week">18 Jornada</span>
                                <span class="date">05-07-2015</span>
                            </div>
                            <div class="player-transfer in">
                                <span class="player-name">Name of the player</span>
                                <span class="player-position">Avançado</span>
                                <span class="player-club">Moreirense</span>
                                <span class="this-ico">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="pointer-events: none; "><g id="arrow-forward"><polygon points="12,4 10.6,5.4 16.2,11 4,11 4,13 16.2,13 10.6,18.6 12,20 20,12 "></polygon></g></svg>                                </span>
                            </div>

                            <div class="player-transfer out">
                                <span class="player-name">Another player name</span>
                                <span class="player-position">Defesa</span>
                                <span class="player-club">Boavista</span>
                                <span class="this-ico">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="pointer-events: none;"><g id="keyboard-backspace"><polygon points="21,11 6.8,11 10.4,7.4 9,6 3,12 9,18 10.4,16.6 6.8,13 21,13 "></polygon></g></svg>
                                </span>
                            </div>
                        </li>

                        <li>
                            <div class="time-stamp">
                                <span class="game-week">18 Jornada</span>
                                <span class="date">05-07-2015</span>
                            </div>
                            <div class="player-transfer in">
                                <span class="player-name">Name of the player</span>
                                <span class="player-position">Avançado</span>
                                <span class="player-club">Moreirense</span>
                                <span class="this-ico">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="pointer-events: none; "><g id="arrow-forward"><polygon points="12,4 10.6,5.4 16.2,11 4,11 4,13 16.2,13 10.6,18.6 12,20 20,12 "></polygon></g></svg>                                </span>
                            </div>

                            <div class="player-transfer out">
                                <span class="player-name">Another player name</span>
                                <span class="player-position">Defesa</span>
                                <span class="player-club">Boavista</span>
                                <span class="this-ico">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="pointer-events: none; "><g id="keyboard-backspace"><polygon points="21,11 6.8,11 10.4,7.4 9,6 3,12 9,18 10.4,16.6 6.8,13 21,13 "></polygon></g></svg>
                                </span>
                            </div>
                        </li>

                        <li>
                            <div class="time-stamp">
                                <span class="game-week">18 Jornada</span>
                                <span class="date">05-07-2015</span>
                            </div>
                            <div class="player-transfer in">
                                <span class="player-name">Name of the player</span>
                                <span class="player-position">Avançado</span>
                                <span class="player-club">Moreirense</span>
                                <span class="this-ico">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="pointer-events: none; "><g id="arrow-forward"><polygon points="12,4 10.6,5.4 16.2,11 4,11 4,13 16.2,13 10.6,18.6 12,20 20,12 "></polygon></g></svg>                                </span>
                            </div>

                            <div class="player-transfer out">
                                <span class="player-name">Another player name</span>
                                <span class="player-position">Defesa</span>
                                <span class="player-club">Boavista</span>
                                <span class="this-ico">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="pointer-events: none; "><g id="keyboard-backspace"><polygon points="21,11 6.8,11 10.4,7.4 9,6 3,12 9,18 10.4,16.6 6.8,13 21,13 "></polygon></g></svg>
                                </span>
                            </div>
                        </li>

                        <li>
                            <div class="time-stamp">
                                <span class="game-week">18 Jornada</span>
                                <span class="date">05-07-2015</span>
                            </div>
                            <div class="player-transfer in">
                                <span class="player-name">Name of the player</span>
                                <span class="player-position">Avançado</span>
                                <span class="player-club">Moreirense</span>
                                <span class="this-ico">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="pointer-events: none; "><g id="arrow-forward"><polygon points="12,4 10.6,5.4 16.2,11 4,11 4,13 16.2,13 10.6,18.6 12,20 20,12 "></polygon></g></svg>                                </span>
                            </div>

                            <div class="player-transfer out">
                                <span class="player-name">Another player name</span>
                                <span class="player-position">Defesa</span>
                                <span class="player-club">Boavista</span>
                                <span class="this-ico">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="pointer-events: none; "><g id="keyboard-backspace"><polygon points="21,11 6.8,11 10.4,7.4 9,6 3,12 9,18 10.4,16.6 6.8,13 21,13 "></polygon></g></svg>
                                </span>
                            </div>
                        </li>

                        <li>
                            <div class="time-stamp">
                                <span class="game-week">18 Jornada</span>
                                <span class="date">05-07-2015</span>
                            </div>
                            <div class="player-transfer in">
                                <span class="player-name">Name of the player</span>
                                <span class="player-position">Avançado</span>
                                <span class="player-club">Moreirense</span>
                                <span class="this-ico">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="pointer-events: none;"><g id="arrow-forward"><polygon points="12,4 10.6,5.4 16.2,11 4,11 4,13 16.2,13 10.6,18.6 12,20 20,12 "></polygon></g></svg>                                </span>
                            </div>

                            <div class="player-transfer out">
                                <span class="player-name">Another player name</span>
                                <span class="player-position">Defesa</span>
                                <span class="player-club">Boavista</span>
                                <span class="this-ico">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="pointer-events: none; "><g id="keyboard-backspace"><polygon points="21,11 6.8,11 10.4,7.4 9,6 3,12 9,18 10.4,16.6 6.8,13 21,13 "></polygon></g></svg>
                                </span>
                            </div>
                        </li>

                        <li>
                            <div class="time-stamp">
                                <span class="game-week">18 Jornada</span>
                                <span class="date">05-07-2015</span>
                            </div>
                            <div class="player-transfer in">
                                <span class="player-name">Name of the player</span>
                                <span class="player-position">Avançado</span>
                                <span class="player-club">Moreirense</span>
                                <span class="this-ico">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="pointer-events: none;"><g id="arrow-forward"><polygon points="12,4 10.6,5.4 16.2,11 4,11 4,13 16.2,13 10.6,18.6 12,20 20,12 "></polygon></g></svg>                                </span>
                            </div>

                            <div class="player-transfer out">
                                <span class="player-name">Another player name</span>
                                <span class="player-position">Defesa</span>
                                <span class="player-club">Boavista</span>
                                <span class="this-ico">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="pointer-events: none;"><g id="keyboard-backspace"><polygon points="21,11 6.8,11 10.4,7.4 9,6 3,12 9,18 10.4,16.6 6.8,13 21,13 "></polygon></g></svg>
                                </span>
                            </div>
                        </li>

                        <li>
                            <div class="time-stamp">
                                <span class="game-week">18 Jornada</span>
                                <span class="date">05-07-2015</span>
                            </div>
                            <div class="player-transfer in">
                                <span class="player-name">Name of the player</span>
                                <span class="player-position">Avançado</span>
                                <span class="player-club">Moreirense</span>
                                <span class="this-ico">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="pointer-events: none; "><g id="arrow-forward"><polygon points="12,4 10.6,5.4 16.2,11 4,11 4,13 16.2,13 10.6,18.6 12,20 20,12 "></polygon></g></svg>                                </span>
                            </div>

                            <div class="player-transfer out">
                                <span class="player-name">Another player name</span>
                                <span class="player-position">Defesa</span>
                                <span class="player-club">Boavista</span>
                                <span class="this-ico">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="pointer-events: none;"><g id="keyboard-backspace"><polygon points="21,11 6.8,11 10.4,7.4 9,6 3,12 9,18 10.4,16.6 6.8,13 21,13 "></polygon></g></svg>
                                </span>
                            </div>
                        </li>

                        <li>
                            <div class="time-stamp">
                                <span class="game-week">18 Jornada</span>
                                <span class="date">05-07-2015</span>
                            </div>
                            <div class="player-transfer in">
                                <span class="player-name">Name of the player</span>
                                <span class="player-position">Avançado</span>
                                <span class="player-club">Moreirense</span>
                                <span class="this-ico">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="pointer-events: none; "><g id="arrow-forward"><polygon points="12,4 10.6,5.4 16.2,11 4,11 4,13 16.2,13 10.6,18.6 12,20 20,12 "></polygon></g></svg>                                </span>
                            </div>

                            <div class="player-transfer out">
                                <span class="player-name">Another player name</span>
                                <span class="player-position">Defesa</span>
                                <span class="player-club">Boavista</span>
                                <span class="this-ico">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="pointer-events: none;"><g id="keyboard-backspace"><polygon points="21,11 6.8,11 10.4,7.4 9,6 3,12 9,18 10.4,16.6 6.8,13 21,13 "></polygon></g></svg>
                                </span>
                            </div>
                        </li>

                        <li>
                            <div class="time-stamp">
                                <span class="game-week">18 Jornada</span>
                                <span class="date">05-07-2015</span>
                            </div>
                            <div class="player-transfer in">
                                <span class="player-name">Name of the player</span>
                                <span class="player-position">Avançado</span>
                                <span class="player-club">Moreirense</span>
                                <span class="this-ico">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="pointer-events: none;"><g id="arrow-forward"><polygon points="12,4 10.6,5.4 16.2,11 4,11 4,13 16.2,13 10.6,18.6 12,20 20,12 "></polygon></g></svg>                                </span>
                            </div>

                            <div class="player-transfer out">
                                <span class="player-name">Another player name</span>
                                <span class="player-position">Defesa</span>
                                <span class="player-club">Boavista</span>
                                <span class="this-ico">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="pointer-events: none;"><g id="keyboard-backspace"><polygon points="21,11 6.8,11 10.4,7.4 9,6 3,12 9,18 10.4,16.6 6.8,13 21,13 "></polygon></g></svg>
                                </span>
                            </div>
                        </li>

                        <li>
                            <div class="time-stamp">
                                <span class="game-week">18 Jornada</span>
                                <span class="date">05-07-2015</span>
                            </div>
                            <div class="player-transfer in">
                                <span class="player-name">Name of the player</span>
                                <span class="player-position">Avançado</span>
                                <span class="player-club">Moreirense</span>
                                <span class="this-ico">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="pointer-events: none; display: block;"><g id="arrow-forward"><polygon points="12,4 10.6,5.4 16.2,11 4,11 4,13 16.2,13 10.6,18.6 12,20 20,12 "></polygon></g></svg>                                </span>
                            </div>

                            <div class="player-transfer out">
                                <span class="player-name">Another player name</span>
                                <span class="player-position">Defesa</span>
                                <span class="player-club">Boavista</span>
                                <span class="this-ico">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="pointer-events: none; display: block;"><g id="keyboard-backspace"><polygon points="21,11 6.8,11 10.4,7.4 9,6 3,12 9,18 10.4,16.6 6.8,13 21,13 "></polygon></g></svg>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>



        </div>
    </div>
</section>

<!-- Tool Tips Init -->
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<!-- RealFevr Side Panel -->
<script>
    $('[data-trigger="side-context-menu"]').on('click', function(){
        $(this).toggleClass('is-active');
        $('[data-widget="side-context-menu"]').toggleClass('is-visible');
    });
    $('[data-trigger="ajax-call"]').on('click', function(thisEv){
        thisEv.preventDefault();
        var thisPage = $(this).attr('id');
        $('#main-content').load('views/' + thisPage + '.htm');
    });
</script>