<section id="page1" class="main-section-wrapper" data-page="league">
    <header class="section-header">
        <div class="this-title">
            <h3>League</h3>
            <h6>Nome da Liga</h6>
        </div>
        <div class="help-module">
            <div class=" checkbox-flat align-v">
                <p>
                    <input type="checkbox" id="test1" />
                    <label for="test1">
                        <span class="ui"></span>
                        <span class="this-label">Ajuda?</span>
                    </label>
                </p>
            </div>

        </div>

        <div class="context-menu-trigger">
            <span class="ico">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="pointer-events: none; display: block;"><g id="unfold-more"><path d="M12,5.8L15.2,9l1.4-1.4L12,3L7.4,7.6L8.8,9L12,5.8z M12,18.2L8.8,15l-1.4,1.4L12,21l4.6-4.6L15.2,15L12,18.2z"></path></g></svg>
            </span>

            <span class="title">
                Home
            </span>
        </div>
    </header>

    <div class="section-content">

    </div>
</section>

