<section id="page1" class="main-section-wrapper" data-page="league">
    <header class="section-header">
        <div class="this-title">
            <h3>Premium League</h3>
            <h6>Resumo da Liga</h6>
        </div>


        <button class="context-menu-trigger" data-trigger="side-context-menu" >
            <span class="ico">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="pointer-events: none; display: block;"><g id="unfold-more"><path d="M12,5.8L15.2,9l1.4-1.4L12,3L7.4,7.6L8.8,9L12,5.8z M12,18.2L8.8,15l-1.4,1.4L12,21l4.6-4.6L15.2,15L12,18.2z"></path></g></svg>
            </span>

            <span class="title">
                Resumo
            </span>
        </button>

        <div class="help-module">
            <div class=" checkbox-flat align-v">
                <p>
                    <input type="checkbox" id="test1" />
                    <label for="test1">
                        <span class="ui"></span>
                        <span class="this-label">Ajuda?</span>
                    </label>
                </p>
            </div>

        </div>
    </header>
    <!-- Side Menu -->
    <aside class="side-context-menu" data-widget="side-context-menu">
        <ul class="opt-list">
            <li class="opt-item is-active">
                <a href="" class="opt" data-trigger="ajax-call" id="page3">Resumo</a>
            </li>

            <li class="opt-item">
                <a href="" class="opt">Membros</a>
            </li>

            <li class="opt-item">
                <a href="" class="opt">Comunicados</a>
            </li>

            <li class="opt-item">
                <a href="" class="opt">Histórico de transferências</a>
            </li>

            <li class="opt-item">
                <a href="" class="opt">Histórico de Drafts</a>
            </li>

            <li class="opt-item">
                <a href="" class="opt">Definições</a>
            </li>

        </ul>
    </aside>
    <!-- Main content -->
    <div class="section-content">
        <div class="inner-header">
            <div class="this-title">Classificação</div>
            <div class="this-secondary-title">9ª Jornada</div>
        </div>
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                <ul class="position-grid">
                    <li class="position-entry">
                        <div class="position">1</div>
                        <div class="entry-name pull-left align-v">
                            <img src="img/user-avatar.png" alt=""/>
                            <a href="">Sport Lisboa e Benfica</a>
                        </div>
                        <div class="team-points pull-left align-v"><span class="this-value pull-left">22</span> Pontos no campeonato</div>
                        <div class="team-points pull-left align-v"><span class="this-value pull-left">310</span>pontos marcados</div>
                        <div class="summary pull-right align-v">
                            <span class="result-summary-clean circ  wins pull-left ">13</span>
                            <span class="result-summary-clean circ  draws pull-left ">2</span>
                            <span class="result-summary-clean circ  defeats pull-left ">3</span>
                        </div>
                    </li>
                    <li class="position-entry self">
                        <div class="position">1</div>
                        <div class="entry-name pull-left align-v">
                            <img src="img/user-avatar.png" alt=""/>
                            <a href="">Sport Lisboa e Benfica</a>
                        </div>
                        <div class="team-points pull-left align-v"><span class="this-value pull-left">22</span> Pontos no campeonato</div>
                        <div class="team-points pull-left align-v"><span class="this-value pull-left">310</span>pontos marcados</div>
                        <div class="summary pull-right align-v">
                            <span class="result-summary-clean circ solid wins pull-left " data-toggle="tooltip" data-placement="bottom" title="Vitórias">13</span>
                            <span class="result-summary-clean circ solid draws pull-left " data-toggle="tooltip" data-placement="bottom" title="Empates">2</span>
                            <span class="result-summary-clean circ solid defeats pull-left " data-toggle="tooltip" data-placement="bottom" title="Derrotas">3</span>
                        </div>
                    </li>
                    <li class="position-entry">
                        <div class="position">1</div>
                        <div class="entry-name pull-left align-v">
                            <img src="img/user-avatar.png" alt=""/>
                            <a href="">Sport Lisboa e Benfica</a>
                        </div>
                        <div class="team-points pull-left align-v"><span class="this-value pull-left">22</span> Pontos no campeonato</div>
                        <div class="team-points pull-left align-v"><span class="this-value pull-left">310</span>pontos marcados</div>
                        <div class="summary pull-right align-v">
                            <span class="result-summary-clean circ  wins pull-left ">13</span>
                            <span class="result-summary-clean circ  draws pull-left ">2</span>
                            <span class="result-summary-clean circ  defeats pull-left ">3</span>
                        </div>
                    </li>
                    <li class="position-entry">
                        <div class="position">1</div>
                        <div class="entry-name pull-left align-v">
                            <img src="img/user-avatar.png" alt=""/>
                            <a href="">Sport Lisboa e Benfica</a>
                        </div>
                        <div class="team-points pull-left align-v"><span class="this-value pull-left">22</span> Pontos no campeonato</div>
                        <div class="team-points pull-left align-v"><span class="this-value pull-left">310</span>pontos marcados</div>
                        <div class="summary pull-right align-v">
                            <span class="result-summary-clean circ  wins pull-left ">13</span>
                            <span class="result-summary-clean circ  draws pull-left ">2</span>
                            <span class="result-summary-clean circ  defeats pull-left ">3</span>
                        </div>
                    </li>
                    <li class="position-entry">
                        <div class="position">1</div>
                        <div class="entry-name pull-left align-v">
                            <img src="img/user-avatar.png" alt=""/>
                            <a href="">Sport Lisboa e Benfica</a>
                        </div>
                        <div class="team-points pull-left align-v"><span class="this-value pull-left">22</span> Pontos no campeonato</div>
                        <div class="team-points pull-left align-v"><span class="this-value pull-left">310</span>pontos marcados</div>
                        <div class="summary pull-right align-v">
                            <span class="result-summary-clean circ  wins pull-left ">13</span>
                            <span class="result-summary-clean circ  draws pull-left ">2</span>
                            <span class="result-summary-clean circ  defeats pull-left ">3</span>
                        </div>
                    </li>
                    <li class="position-entry">
                        <div class="position">1</div>
                        <div class="entry-name pull-left align-v">
                            <img src="img/user-avatar.png" alt=""/>
                            <a href="">Sport Lisboa e Benfica</a>
                        </div>
                        <div class="team-points pull-left align-v"><span class="this-value pull-left">22</span> Pontos no campeonato</div>
                        <div class="team-points pull-left align-v"><span class="this-value pull-left">310</span>pontos marcados</div>
                        <div class="summary pull-right align-v">
                            <span class="result-summary-clean circ  wins pull-left ">13</span>
                            <span class="result-summary-clean circ  draws pull-left ">2</span>
                            <span class="result-summary-clean circ  defeats pull-left ">3</span>
                        </div>
                    </li>
                    <li class="position-entry">
                        <div class="position">1</div>
                        <div class="entry-name pull-left align-v">
                            <img src="img/user-avatar.png" alt=""/>
                            <a href="">Sport Lisboa e Benfica</a>
                        </div>
                        <div class="team-points pull-left align-v"><span class="this-value pull-left">22</span> Pontos no campeonato</div>
                        <div class="team-points pull-left align-v"><span class="this-value pull-left">310</span>pontos marcados</div>
                        <div class="summary pull-right align-v">
                            <span class="result-summary-clean circ  wins pull-left ">13</span>
                            <span class="result-summary-clean circ  draws pull-left ">2</span>
                            <span class="result-summary-clean circ  defeats pull-left ">3</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="ads-left"></div>
    <div class="ads-right"></div>
</section>

<!-- Tool Tips Init -->
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<!-- RealFevr Side Panel -->
<script>
    $('.option-item').show();
    $('[data-trigger="side-context-menu"]').on('click', function(){
        $(this).toggleClass('is-active');
        $('[data-widget="side-context-menu"]').toggleClass('is-visible');
    });
    $('[data-trigger="ajax-call"]').on('click', function(thisEv){
        thisEv.preventDefault();
       var thisPage = $(this).attr('id');
        $('#main-content').load('views/' + thisPage + '.htm');
    });
</script>



