<section id="page2" class="main-section-wrapper" data-page="team">
    <header class="section-header">
        <div class="this-title">
            <h3>Equipa</h3>
            <h6>11 Inicial</h6>
        </div>
        <div class="help-module">
            <div class=" checkbox-flat align-v">
                <p>
                    <input type="checkbox" id="test1" />
                    <label for="test1">
                        <span class="ui"></span>
                        <span class="this-label">Ajuda?</span>
                    </label>
                </p>
            </div>

        </div>

        <button class="context-menu-trigger" data-trigger="side-context-menu" >
            <span class="ico">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="pointer-events: none; display: block;"><g id="unfold-more"><path d="M12,5.8L15.2,9l1.4-1.4L12,3L7.4,7.6L8.8,9L12,5.8z M12,18.2L8.8,15l-1.4,1.4L12,21l4.6-4.6L15.2,15L12,18.2z"></path></g></svg>
            </span>

            <span class="title">
                11 Inicial
            </span>
        </button>
    </header>
    <!-- Side Menu -->
    <aside class="side-context-menu" data-widget="side-context-menu">
        <ul class="opt-list">
            <li class="opt-item is-active">
                <a href="" class="opt" data-trigger="ajax-call" id="page3">11 Inicial</a>
            </li>

            <li class="opt-item">
                <a href="" class="opt">Waivers</a>
            </li>

            <li class="opt-item">
                <a href="" class="opt">Histórico de Transferências</a>
            </li>

            <li class="opt-item">
                <a href="" class="opt">Definições</a>
            </li>
        </ul>
    </aside>
    <!-- Main Content -->
    <div class="section-content padding-all-content ">

        <div class="container-fluid">

            <div class="col-lg-9 col-md-8 col-sm-12 col-sm-12">

                <!-- Player START -->

                <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12 ">
                    <div class="info-card" data-widget="flip-card">
                    </div>
                </div>
                <!-- Player END -->








            </div>

            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <div class="info-card">

                </div>


                <div class="info-card">

                </div>
            </div>



        </div>
    </div>
</section>

<!-- Tool Tips Init -->
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<!-- RealFevr Side Panel -->
<script>
    $('[data-trigger="side-context-menu"]').on('click', function(){
        $(this).toggleClass('is-active');
        $('[data-widget="side-context-menu"]').toggleClass('is-visible');
    });
    $('[data-trigger="ajax-call"]').on('click', function(thisEv){
        thisEv.preventDefault();
        var thisPage = $(this).attr('id');
        $('#main-content').load('views/' + thisPage + '.htm');
    });

    $('[data-trigger="flip-card"]').on('click', function(){
        $('[data-widget="flip-card"]').toggleClass('flipped');
    });
</script>