.floating-info-panel
{
  // box
  width: 50%;
  
  // position
  position: absolute;
  top: 0; right: 0; bottom: 0;
  z-index: 999;
  // style
  background: rgba(40,40,40,.90);
  .box-shadow(~"0 0 4px rgba(0,0,0,.24), 0 2px 4px rgba(0,0,0,.12), 0 16px 32px rgba(0,0,0,.4)");
}