@import "../assembler.less";
.global-wrapper
{
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}



//== ICONS
//
//##

.ico
{
  // Box
  display: block;
  svg
  {
    fill: @gray-light;
  }
  &.centered
  {
    // Position
    position: absolute;
    top: 50%; left: 50%;
  }
  &.size
  {
    &--24px
    {
      @icon-size: 24px;
    // box
    width: @icon-size;
    height: @icon-size;
    margin: -(@icon-size / 2 );
    // style
    }
  }
  .this-counter
  {
    // Box
    width: 26px;
    height: 26px;
    display: none;
    // Position
    position: absolute;
    top: -13px; right: -13px;
    // Style
    border: 3px solid #fff;
    .border-radius(26px);
    background: @brand-info;
    // Type
    font-size: 11px;
    line-height: 20px;
    font-weight: 600;
    color: white;
  }
}