// Floating bubble menu
.floating-bubble {
  @header-h: 50px;
  // Box
  width: 250px;
  // Position
  position: absolute;
  top: 100%;
  right: 15px;
  .translateY(15px);
  z-index: -1;
  // Style
  outline: 4px solid rgba(0, 0, 0, .03);
  .opacity(0);
  visibility: hidden;
  background: #FFFFFF;
  .transition-normal();

  .this-header {
    // Box
    width: 100%;
    height: @header-h;
    padding: 0 15px;
    // Position
    position: relative;
    // Style
    background: @brand-primary;
    // Type

    &:after {
      bottom: 100%;
      left: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-bottom-color: @brand-primary;
      border-width: 6px;
      margin-left: -30px;
    }
    .this-title {
      // Position
      float: left;
      position: relative;
      top: 50%;
      .translateY(-50%);
      // Type
      font-family: @font-headings;
      color: #fff;
      font-weight: 600;
      font-size: 14px;
    }
    .this-counter {
      // Box
      padding: 0px 8px;
      height: 24px;
      display: block;
      // Position
      float: right;
      position: relative;
      top: 50%;
      .translateY(-50%);
      // Style
      background: #fff;
      .border-radius(24px);
      // Type
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
    }
  }
  .this-body {
    // Box
    min-height: 100px;
  }

  // Is active state
  &.is-visible {
    // Box
    .opacity(1);
    // Position
    .translateY(0px);
    z-index: 1;
    // Style
    visibility: visible;
    .box-shadow(~"0px 15px 12px 0px rgba(0,0,0,0.22), 0px 19px 39px 0px rgba(0,0,0,0.30)");
  }
  // For inner lists of messages, notifications, alerts ...
  .message-list {
    // Box
    padding: 0;

    // Style
    list-style: none;

    li {
      // Box
      width: 100%;
      padding: 15px 15px;
      // Position
      float: left;
      position: relative;
      // Style
      border-bottom: 1px solid @gray-lighter;
      &:nth-child(3) {
        border-bottom: 0;
      }
      &:last-child {
        border-bottom: 0;
      }
      .info {
        width: 100%;
        float: left;
        margin-bottom: 15px;
        color: @gray-light;
        font-size: 12px;
        font-weight: 500;
        .icon
        {
          width: 20px; height: 20px;
          float: left;
          .opacity(.25);
        }
      }
      .date {
        // Position
        float: right;
        // Type
        font-size: 12px;
        font-weight: 500;
      }
      .from {
        // Positin
        float: left;

      }
      .msg-copy {
        display: block;
        width: 100%;
        // Position
        float: left;
        // Type
        font-size: 12px;
        line-height: 1.2;
        color: @gray-light;
      }
      .msg-entry
      {

      }
      &.new-message {
        .box-shadow(~"inset 3px 0 0 @{brand-info}");
        .info {
          font-weight: 700;
          color: @text-color;
          .icon
          {
            .opacity(1);

          }
        }
        .date { font-weight: 700 }
        .msg-copy {
          font-weight: 500;
          color: @text-color;
        }
      }
      &.see-all-container {
        background: #f6f6f6 url("../img/bg-more-msg.svg") repeat-x top left;

      }
      // Button to show all remaining messages
      .see-all-btn {
        width: 100%;
        // Style
        border: 0;
        background: none;
        // Type
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        color: @gray-light;
      }
    }
    &.notifications
    {
     .msg-entry
     {
        .info
        {

        }
       &.new-message
       {
         .info
         {

         }
       }
     }
    }
    .click-wrapper
    {
      // Box
      display: block;
      // Type
      text-decoration: none;
    }
  }
  // For inner list of options
  .option-list
  {
    // Box
    padding: 0;
    width: 100%;
    display: block;
    // Position
    // Style
    list-style: none;
    .option-item
    {
      // Box
      display: block;
      width: 100%;

      & > button
      {
        // Box
        width: 100%;
        height: 60px;
        padding-right: 50px;
        padding-left: 30px;
        // Position
        position: relative;
        // Style
        background: none;
        border: 0;
        border-bottom: 1px solid @gray-lighter;
        // Type
        font-weight: 600;
        font-size: 12px;
        color: @gray;
        line-height: 60px;
        text-transform: uppercase;
        font-family: @font-headings;
        &:hover
        {
          background: @gray-lighter;
        }
        .icon
        {
          // Box
          width: 20px; height: 20px;
          // Position
          position: absolute;
          top: 50%; right: 15px;
          margin-top: -10px;
          // Type
          line-height: 1;
          img
          {
            width: 20px; height: 20px;
           .opacity(.25);
          }
        }
      }
    }
  }
  // Profile specific customization
  &.header-profile
  {
    width: 500px;
    .this-header
    {
      background: #fff;
      height: 30px;
      &:after
      {
        border-bottom-color: #fff;
      }
    }
    .this-body
    {
      padding-left: 120px;
      padding-bottom: 70px;
      position: relative;
    }
    .user-avatar
    {
      // Box
      width: 80px; height: 80px;
      overflow: hidden;
      // Position
      position: absolute;
      left: 15px; top: 0px;
      // Style
      .border-radius(80px)
    }
    .user-info
    {
      .user-name
      {
        // Box
        width: 100%;
        display: block;
        // Type
        font-size: 18px;
        font-weight: 500;
        font-family: @font-headings;
      }
      .user-email
      {
        // Box
        width: 100%;
        display: block;
        margin-bottom: 15px;
        // Type
        font-size: 12px;
        color: @gray-light;
      }
      & > a
      {
        // Box
        display: inline-block;
        margin-right: 30px;
        // Type
        color: @brand-info;
        font-size: 14px;

      }
    }
    .log-out-account
    {
      // Box
      width: 100%;
      height: 50px;
      // Position
      position: absolute;
      bottom: 0; left: 0;
      // Style
      border: 0;
      background: @gray-lighter;
      // Type
      color: @gray-light;
      font-weight: 700;
      font-size: 12px;
      line-height: 50px;
      &:hover
      {
        background: @brand-danger;
        color: white;
      }
    }
  }
}


// Results Circle
.result-summary-clean
{
  @this-width: 30px;
  // Box
  display: block;
  width: @this-width;
  height: @this-width;
  margin: 0 5px;
  // Position
  position: relative;
  // Style
  border: 1px solid @gray-lighter;
  .border-radius(3px);
  // Type
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: @this-width;

  &.circ
  {
    .border-radius(@this-width);
  }
  &.wins
  {
    border-color: @brand-success;
    color: @brand-success;
  }
  &.draws
  {
    border-color: @gray-light;
    color: @gray-light;
  }
  &.defeats
  {
    border-color: @brand-danger;
    color: @brand-danger;
  }
  &.solid
  {
    background: @gray-lighter;
    color: @gray-dark;
    line-height: @this-width - 2px;
    &.wins
    {
      border-color: @brand-success;
      background: @brand-success;
      color: white;

    }
    &.draws
    {
      border-color: @gray-light;
      background: @gray-light;
      color: white;
    }
    &.defeats
    {
      border-color: @brand-danger;
      background: @brand-danger;
      color: white;
    }
  }


}





// Layout
.spacer
{
  width: 100%;
  &.small
  {
    height: 15px;
  }
  &.default
  {
    height: 30px;
  }
  &.large
  {
    height: 60px;
  }
}