#main-content
{
  // Position
  position: absolute;
  left: @header-h;
  top: @header-h;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.main-section-wrapper
{
  @section-header-h: 50px;
  // Box
  // Position
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  
  // Header for inner pages
  .section-header
  {
    // Box
    height: @section-header-h;
    width: 100%;
    // Position
    position: absolute;
    top: 0; right: 0; left: 0;
    z-index: 3;
    // Style

    background: rgba(255,255,255,.95);
    //border-bottom: 1px solid @gray-lighter;
    .box-shadow(~"0 1px 2px rgba(0,0,0,.24)");
    > .this-title
    {
      // Box
      padding: 0 15px 0 15px;

      //width: 250px;
      height: @section-header-h;
      // Position
      float: left;
      // Style
      border-right: 1px solid @gray-lighter;
      h3
      {
        // Box
        margin: 0;

        display: block;
        // position
        position: relative;
        top: 50%;
        .translateY(-50%);
        float: left;
        // Type
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 500;
        color: @brand-primary;
        font-family: @font-headings;

      }
      h6
      {
        // Box
        margin: 0;
        margin-left: 15px;
        display: none;
        // Position
        float: left;
        position: relative;
        top: 50%;
        .translateY(-50%);
        // Type
        text-transform: uppercase;
        font-size: 12px;
        color: @gray-dark;
        font-weight: 500;
        font-family: @font-headings;
      }
    }
    > .help-module
    {
      // Box
      width: 150px;
      height: @section-header-h;
      margin-left: 15px;
      // Position
      float: left;
      position: relative;
    }
    .context-title
    {
      float: left;
      padding-left: 30px;
      height: @section-header-h;
      line-height: @section-header-h;
      font-family: @font-headings;
      .title
      {
        font-size: 20px;
        color: @gray;
        float: left;
      }
      .subtitle
      {
        float: left;
        color: @gray-light;
        margin-left: 15px;
      }
    }
    }

  .context-menu-trigger {
    // Box
    width: 240px;
    padding-left: 40px;
    height: @section-header-h;
    // Position
    float: right;
    position: relative;
    // Style
    background: transparent;
    border: 0;
    border-left: 1px solid @gray-lighter;
    // Type
    color: @gray;
    font-family: @font-headings;

    .ico {
      // Box
      width: 30px;
      height: 30px;
      // Position
      position: absolute;
      left: 10px;
      top: 50%;
      margin-top: -15px;

      svg {
        width: 100%;
        height: 100%;
        fill: @gray-light;
      }
    }
    .title
    {
      // Position
      position: absolute;
      left: 50px;
      top: 50%;
      .translateY(-50%);
      // Type
      font-size: 18px;
    }
    &:hover
    {
      color: @gray-darker;
      background: #fafafa;
      svg
      {
        fill: @brand-primary
      }
    }
    &.is-active
    {
      background: @brand-info;
      color: white;

      svg
      {
        fill: white;
      }
    }
  }

  .section-content
  {
    // Box
    overflow: hidden;
    overflow-y: auto;
    padding-top: 50px;
    // Position
    position: absolute;
    top: 0;
    left: 0; right:0; bottom: 0;

    // Style

  }
  .inner-header
  {
    @this-height: 40px;
    width: 100%;
    height: @this-height;
    margin-bottom: 30px;
    // Position
    float: left;
    position: relative;
    // Style
    background: rgba(0, 0, 0, .35);


    .this-title
    {
      // Box
      line-height: @this-height;
      // Position
      position: absolute;
      left: 50%; .translateX(-50%);
      // Type
      text-transform: uppercase;
      font-family: @font-headings ;
      color: white;
      font-size: 12px;
      font-weight: 600;
    }

    .this-secondary-title
    {
      // Box
      line-height: @this-height;

      // Position
      position: relative;
      margin-left: 30px;

      // Type
      color: white;
      font-size: 14px;
      font-weight: 600;
    }
  }

}
