[data-page="home"]
{

  background: url("../img/bgs/home.jpg") no-repeat;
  background-size: cover;
  background-position: 0 0;
  .section-content
  {
    padding-top: 30px;
  }
}

[data-page="league"],
[data-page="team"]
{
  background: url("../img/bgs/stadium.jpg") no-repeat;
  background-size: cover;
  background-position: 0 0;
  .section-header
  {
    .this-title
    {
      h3
      {
        color: @section-league !important;
      }
      h6
      {

      }
    }

  }
}

[data-page="team"]
{
  .section-header
  {
    .this-title
    {
      h3
      {
        color: @section-team ;
      }
      h6
      {

      }
    }

  }
}

[data-page="players"]
{
  .section-header
  {
    .this-title
    {
      h3
      {
        color: @section-players ;
      }
      h6
      {

      }
    }

  }
}

[data-page="calendar"]
{
  .section-header
  {
    .this-title
    {
      h3
      {
        color: @section-calendar ;
      }
      h6
      {

      }
    }

  }
}